.App {
  display: block;
  height: 100vh;
  background: #282c34;
  color: #ffffff;
}

.bpm-slider-container {
  margin: 0 auto;
  min-width: 500px;
  width: 40vw;
}

.bpm-title {
  margin: 0 auto;
  padding: 50px 0 10px 0;
  width: fit-content;
}

.bpm-title h1 {
  color: white;
}

.tilt {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.tilt-input,
.tilt-title {
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  background: none;
}
.tilt-input {
  border: none;
}

.button-toggle {
  margin: 10px 0 15px 0;
}
